@model IEnumerable<Task4.Models.Book>

@{
    ViewData["Title"] = "View";
}

<h1>Список книжок</h1>

<p>
    <a asp-action="Create">Додати книжку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.MiddleName)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id}) |
                    @Html.ActionLink("Подробиці", "Details", new { id = item.Id}) |
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
